/* Header */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, 
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-header-logo{
    padding: 24px 0;
    margin-right: 76px;
    text-decoration: none;
}

.studio-header-logo{
    color: #2e2f42;
}

.nav-ul{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-ul-link{
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-ul-link:hover,
.nav-ul-link:focus{
    color: #404bbf;
}

.nav-ul-link.current{
    position: relative;
    color: #404bbf
}

.nav-ul-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.container-header {
    max-width: 1158px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    align-items: center;
    height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-ul-link:focus{
    color: #404bbf;
}

.contacts-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf
}

/* Hero Section */
.container-hero{
    width: 1158px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4d5ae5;
    color: #fff;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #404bbf;
}

.hero-section{
    background-color: #2e2f42;
    padding: 188px 0;
    height: 600px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpeg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Advantages Section */
.advantages-section{
    padding: 120px 0;
}

.adv-sec-ul{
    display: flex;
    gap: 24px;
}

.adv-sec-li{
    width: calc((100% - 72px) / 4);
}

.advantages-section-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.title-two{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-three{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: left;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}

/* Our Team Section */
.team-card .title-three,
.team-card .paragraph {
    text-align: center;
}

.team-ul{
    display: flex;
    gap: 24px;
}

.team-card{
    padding: 32px 16px;
}

.team-section{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-li{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-li h3,
.team-li p {
    text-align: center;
}

.team-soc{
    display: flex;          
    gap: 24px;             
    padding: 0;
    margin: 0;
    list-style: none;     
    justify-content: center;
    list-style: none;
}

.team-soc .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
}

.team-soc .link .icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc .link:hover,
.team-soc .link:focus {
    background-color: #404bbf;
}

/* Our Portfolio Section */
.portfolio-section{
    padding: 120px 0 120px 0;
}

.portfolio-ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-li{
    width: calc((100% - 48px) / 3);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-li:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-card{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.portfolio-thumb img{
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-thumb:hover {
    transform: translateY(0%);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer-end{
    background: #2e2f42;
    padding: 100px 0;
}

.footer-end-soc p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.container-footer{
    display: flex;
    align-items: baseline;
}

.footer-soc-ul{
    display: flex;
    gap: 16px;
}

.footer-soc-li{
    width: 40px;
    height: 40px;
}

.footer-soc-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}

.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31d0aa;
}

.footer-soc-icon{
    fill: #f4f4fd;
}

.footer-end-info{
    margin-right: 120px;
}

.web-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer-logo {
    color: #2e2f42;
}

.footer-text{
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.studio-footer-logo{
    color: #f4f4fd;
}